<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>paradoxicalio</id>
            <passphrase>${env.GPG_PASSWORD}</passphrase>
        </server>
        <server>
            <id>ossrh</id>
            <username>paradoxicalio</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
</settings>